@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

@font-face  {
    font-family: "regular";
    src: local("Prompt-Regular"),
    url('../../public/assets/fonts/Prompt-Regular.ttf') format("truetype");
  }
  
  @font-face {
    font-family: "medium";
    src: local("Prompt-Medium"),
    url('../../public/assets/fonts/Prompt-Medium.ttf') format("truetype");
  }
  
  @font-face {
    font-family: "semibold";
    src: local("Prompt-SemiBold"),
    url('../../public/assets/fonts/Prompt-SemiBold.ttf') format("truetype");
  }
  
  @font-face {
    font-family: "bold";
    src: local("Prompt-Bold"),
    url('../../public/assets/fonts/Prompt-Bold.ttf') format("truetype");
  }